<div class='board-background'>

  <a ui-sref='home'><div class="logo" id="boardgame-logo"></div></a>

  <section class="board-play">

    <div>I Choose You!</div>

  </section>

  <div class="board-player-container">

    <section class="board-input-player">

      <div class="opening-text">Choose Your Opponents</div>

      <input class="board-player-input" ng-model='playerInput' ng-keyup='addNewPlayer($event)'/>

      <button ng-click='clickNewPlayer()'>Add Me</button>
      
    </section>

    <div class="board-player" ng-repeat='player in players'>
      <div class="delete-button" ng-click='deletePlayer($index)'>X</div>
      <div class="board-player-name">{{player.name}}</div>
      <div class="board-player-score">{{player.score}}</div>
      <input class="board-input-score" ng-model='boardInputScore'/>
      <button class="board-player-add board-button" ng-click='incrementScore($index, boardInputScore)'>+</button>
      <button class="board-player-minus board-button" ng-click='decrementScore($index, boardInputScore)'>-</button>

    </div>
    <footer class="footer-button">
      <button class="ready-button" boardgame-ready-up>Ready?</button>
      <button class="ready-button hidden-footer-button" boardgame-ready-up>I'm Embarrassed... I Guess I'm Not Ready</button>
    </footer>
  </div>

</div>
