
<a ui-sref='home'><div class="logo" id="boardgame-logo"></div></a>

<div class='board-background'>
  <section class="board-input-player">

    <div class="opening-text">Choose Your Opponents</div>

    <input class="board-player-input"ng-model='playerInput' ng-keyup='addNewPlayer($event)'/>

    <button ng-click='clickNewPlayer()'>Add Me</button>
  </section>

  <div class="board-player-container">
    <div class="board-player" ng-repeat='player in players'>

      <div class="board-player-name">{{player.name}}</div>
      <div class="board-player-score">{{player.score}}</div>
      <button class="board-player-add board-button"ng-click='player.incrementScore()'>+</button>
      <button class="board-player-minus board-button"ng-click='player.decrementScore()'>-</button>


    </div>
  </div>
  <button class="ready-button">Click when Ready to play</button>
</div>
