/*header styles here*/

body {
  background: #020202;
  font-family: 'sigmar one', sans-serif;
  padding-top: 0px;
}

button:hover {
  color: #ff3300;
  background: #62d9ff;
  cursor: pointer;
}
/*home styles here*/

.logo {
  height: 400px;
  width: 400px;
  background: url('./img/Scoretle.jpg') no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -10;
  margin: auto;
  right: 35%;
  top: 0
}

.home-container {
  display: flex;
  height: 30vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  justify-content: space-between;
}

    .home-buttons {
      height: 30vh;
      width: 34%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      box-shadow: 5px;
      font-size: 40px;
      font-family: 'sigmar one', sans-serif;
      color: grey;
      background: #ff3300;
      border: none;
    }
  .intro-text {
    color: #ff3300;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-top: 70px
  }



/*board Game styles here*/
#boardgame-logo {
  z-index: 1;
  height: 100px;
  width: 100px;
  position: absolute;
  left: -750px;
  top: 13px;
}

.board-background {
  background: url('./img/pokemon.JPG') no-repeat center;
  background-size: cover;
  height: 105vh;
  width: 100%;
  margin-top: 0px;

}

.board-input-player {
  height: 20vh;
  width: 100%;
  text-align: center;
  /*margin-top: 10px;*/
  padding-top: 30px
}
    .opening-text {
      color: #ff3300;
      font-size: 60px;
      margin-top: px
    }
    .board-player-input {
      background: transparent;
      border: solid;
      height: 30px;
      text-align: center;
      color: #ff3300;
      margin-top: 30px;
      display: inline;
    }
    .board-input-player button {
      background: #ff3300;
      border: none;
      color: #62d9ff;
      height: 30px;
      width: 120px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      display: inline;
      font-family: 'sigmar one';
    }
    .board-input-player button:hover {
      color: #ff3300;
      background: #62d9ff;
      cursor: pointer;
    }

.board-player-container {
  width: 100%;
  height: 70vh;
  margin-top: 10px;
  text-align: center;
  color: #ff3300;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
    .board-player {
      flex-grow: 1;
      height: 10vh;
      width: 20%;
      /*border: solid pink;*/
      padding-top: 3vh;
      font-size: 30px

    }
        .board-player-name {
          display: inline-block;
          text-decoration: underline;
        }
        .board-player-score {
          display: block;
          font-size: 100px;
          color: #62D9FF;
          font-family: 'orbitron'
        }
        .board-button {
          background: #ff3300;
          color: #62D9FF;
          border: none;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          height: 30px;
          width: 30px;
        }
        .board-player-add {
          display: inline-block;
        }
        .board-player-minus {
          display: inline-block;
        }

    .ready-button {
      background: #ff3300;
      color: #62D9FF;
      border: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 30px;
      width: 220px;
      margin-left: 570px;
      font-family: 'sigmar one'
    }


/*sports styles here*/
#sports-logo {
  z-index: 1;
  height: 100px;
  width: 100px;
  position: absolute;
  left: -750px;
  top: 20px;
}

.sports-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: 100vh;
  width: 100%;
  background: url('./img/pokestadium.PNG') no-repeat;
  background-size: cover;
}
    .sports-input-container {
      height: 30px;
      width: 100%;
      text-align: center;
      margin-top: 50px;
      font-family: 'sigmar one', sans-serif;
    }
        .team-input {
          height: 30px;
          background: none;
          border-color: #ff3300;
          color: #ff3300;
          text-align: center;
          font-family: 'sigmar one', sans-serif;
          font-size: 15px;
        }
        .add-team-button {
          height: 30px;
          background: #ff3300;
          border: none;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          color: #62d9ff;
          font-family: 'sigmar one', sans-serif;
        }
    .team-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 100px;
    }
        .team-name {
          height: 50vh;
          width: 50%;
          text-align: center;
          color: #ff3300;
          font-size: 100px;
          margin-top: 100px;
          opacity: 1;
        }
            .change-score {
              background: #ff3300;
              border: none;
              height: 60px;
              width: 60px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              font-size: 30px;
            }
            .score {
              font-size: 300px;
              color: #62D9FF;
              font-family: 'Orbitron', 'sigmar one';
            }
