<a ui-sref='home'><div class="logo" id="sports-logo"></div></a>



<div class="sports-container">

  <div class="sports-input-container">
    <input ng-model='teamInput' ng-keyup='enterTeam($event)' class="team-input"/>
    <button ng-click='addTeam()' class="add-team-button">Add Team</button>
  </div>

  <div  class="team-container" >
    <div class="" ng-repeat='team in teams'>
      <div class="team-name">{{team.name}}</div>
      <div class="team1-score score">{{team.score}}</div>
      <button ng-click='team.incrementScore()' class="change-score increment">+</button>
      <button ng-click='team.decrementScore()' class="change-score decrement">-</button>
    </div>
  </div>

</div>
